.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.title,
.note {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 70vh;
  padding: 1rem;
}

.form-group {
  width: 80%;
}

.btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 80%;
}

#algorithms {
  width: 30%;
}
